@page "/"
@using Drive.Data
@using Drive.Data.Entity

@inject ApplicationDbContext mycontext

<div class="container mt-5">
    <h3 class="mb-4">Overview</h3>

    <div class="card">
        <div class="card-body">
            <table class="table table-striped table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th>🏎 Model</th>
                        <th>✒ Beschreibung</th>
                        <th>⏳ Stunden</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var project in projects)
                    {
                        <tr>
                            <td>@project.Brand</td>
                            <td>@project.Model</td>
                            <td>
                                @records.Where(i => i.CardId == project.Id).Sum(i => i.HoursWorked)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@code {
    List<Tours> records = new();

    List<Car> projects = new();

    protected override async Task OnInitializedAsync()
    {
        // Retrieves all Tours records from the database and stores them in the records list.
        records = mycontext.Tours.ToList();

        // Retrieves all Car records from the database and stores them in the projects list.
        projects = mycontext.Cars.ToList();

        foreach (var item in records)
        {
            // Sets the Car property of the record by finding the matching Car in the database based on the CardId.
            item.Car = mycontext.Cars.First(x => x.Id == item.CardId);

            // Sets the Employee property of the record by finding the matching User in the database based on the EmployeeId.
            item.Employee = mycontext.Users.First(x => x.Id == item.EmployeeId);
        }
    }
}
